/* The big stuff */

:root {
  --background: rgb(255, 190, 190);
  --foreground: rgb(0, 0, 0);
  --link: rgb(255,100,100);
}

p, li {
  line-height: 1.5em;
}

html {
  font-family: Atkinson, sans-serif;
  color: var(--foreground);
}

body {
  background-color: var(--background);
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
}

/* Nav */

.nav-spacer {
  /* height: 3em; */
}

.nav-wrapper {
  top: 0;
  position: sticky;
  padding-top: 0.5em;
  /* padding-bottom: 0.5em; */
  background-color: var(--background);
}

.main-nav {
  font-size: 2rem;
  font-weight: bold;
  color: var(--foreground);
  padding-top: 0.5em;
  border-top: 1px solid black;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  background-color: var(--background);
  width: 100%;
}

.main-nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.main-nav a.current {
  color: var(--link);
  background-color: var(--background);
  /* border-bottom: 2px dashed black; */
}

.post-nav-spacer {
  height: 1em;
}

/* Links */

a {
  font-weight: normal;
  text-decoration: none;
  /* text-decoration: underline 2px dotted rgba(0,0,0,1); */
  /* color: var(--foreground); */
  color: var(--link);
}

/* List pages */

.list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
}

.item {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  width: 100%;
}

div.list-image {
  flex: 1 1 30%;
}

div.list-text {
  flex: 1 1 65%;
}

/* Images */

img {
  width: 100%;
  height: auto;
}

/* 404 search */

.site-search {
  display: inline;
}

.site-search input {
  font-family: Atkinson, sans-serif;
  background-color: white;
  border: none;
  font-size: 1.25rem;
}

/* Tags */
.game-tags {
  padding-top: 0.5rem;
  font-size: 1.12rem;
}

.game-tag {
  font-size: 1rem;
  background-color: var(--link);
  padding: 0.35rem 0.45rem 0.35rem 0.45rem;
  border-radius: 0.5rem;
  /* color: white; */
  color: var(--background);
}

.game-tag-separator {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.game-tag-display {
  margin-bottom: 2rem;
}

.game-tag-group {
  margin-bottom: 1rem;
}

.game-tag-group-title {
  font-weight: bold;
  font-size: 1rem;
}

.game-tag-group-tags {
  line-height: 1.25em;
}
