@import url("/css/atkinson.css");

/* The big stuff */

:root {
  --background: rgb(255, 190, 190);
  --foreground: rgb(0, 0, 0);
  --link: rgb(255, 100, 100);
}

html {
  font-family: Atkinson, sans-serif;
  color: var(--foreground);
}

body {
  background-color: var(--background);
  font-size: 1.25rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
}

p,
li {
  line-height: 1.5em;
}

/* Nav */

.nav-spacer {
  /* height: 3em; */
}

.nav-wrapper {
  top: 0;
  position: sticky;
  padding-top: 0.5em;
  /* padding-bottom: 0.5em; */
  background-color: var(--background);
}

.main-nav {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--foreground);
  padding-top: 0.5em;
  border-top: 1px solid black;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  background-color: var(--background);
  width: 100%;
}

.main-nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.main-nav a.current {
  color: var(--link);
  background-color: var(--background);
  /* border-bottom: 2px dashed black; */
}

.post-nav-spacer {
  height: 1em;
}

/* Links */

a {
  /* font-weight: normal; */
  text-decoration: none;
  /* text-decoration: underline 2px dotted rgba(0,0,0,1); */
  /* color: var(--foreground); */
  color: var(--link);
}

/* List pages */

.list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2em;
}

.item {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  width: 100%;
}

.list-item-title {
  font-size: 1.25em;
}

.parenthetical {
  font-size: 0.9em;
}

.warning {
  font-size: 1em;
  background-color: red !important;
  color: white;
}

div.list-image {
  flex: 1 1 30%;
}

div.list-text {
  flex: 1 1 65%;
}

/* Images */

img {
  width: 100%;
  height: auto;
  max-height: 50vh;
}

/* Tag menus */

.game-tag-display {
  margin-bottom: 2em;
}

.game-tag-group {
  margin-bottom: 1em;
  /* position: relative; */
  /* display: block; */
}

.game-tag-group-title {
  font-weight: bold;
  font-size: 1em;
}

.game-tag-group-tags {
  line-height: 1.5em;
  /* display: none; */
  /* width: auto; */
  /* height: 0px; */
  /* overflow-y: none; */
  /* position: absolute; */
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 12px 16px; */
  /* z-index: 1; */
  /* transition: height 2s; */
}

.game-tag-group:hover .game-tag-group-tags {
  display: block;
  height: auto;
}

/* Tags */

.game-tags {
  padding-top: 0.5em;
  line-height: 1.5em;
}

.game-tag {
  font-size: 0.75em;
  background-color: var(--link);
  padding: 0.35em 0.45em 0.35em 0.45em;
  border-radius: 0.5em;
  /* color: white; */
  color: var(--background);
}

.game-tag-separator {
  padding-left: 0.25em;
  padding-right: 0.25em;
}


/* 404 */

.flipped-four-oh-four {
  display: inline-block;
  color: var(--link);
  font-size: 8em;
  font-weight: bold;
  position: relative;
  transform: rotate(180deg);
  z-index: -100;
}

.site-search {
  display: inline;
  white-space: nowrap;
}

.site-search input {
  font-family: Atkinson, sans-serif;
  background-color: white;
  border: none;
  font-size: 1em;
}

/* Funny stuff */

.skewer {
  animation-name: skewAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes skewAnim {
  from {
    transform: skewX(0deg)
  }

  to {
    transform: skewX(360deg)
  }
}

.rotater {
  animation-name: rotateAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes rotateAnim {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(-360deg)
  }
}