<div id="nav-wrapper">
  <div class="main-nav">
    {{ $current := . }}
    {{ range $index, $element := .Site.Menus.main }}
    {{ $class := "" }}
    {{ if eq $current.RelPermalink .URL }}
    {{ $class = "current" }}
    {{ else if and (ne $current.RelPermalink .URL) (eq $current.CurrentSection.RelPermalink .URL)}}
    {{ $class = "current" }}
    {{ end }}


    <a href="{{ .URL }}" class="{{ $class }}">{{ $item := print .Name | safeHTML }}{{ $item }}</a>,
    {{ end }}
  </div>
</div>
<div class="post-nav-spacer"></div>