{{ define "main" }}

<div class="regular">




<div class="game-tag-display">
  {{ .Scratch.Set "tagtitle" "Ideas" }}
  {{ .Scratch.Set "taxonomy" .Site.Taxonomies.ideas }}
  {{ .Scratch.Set "stub" "ideas" }}
  {{ partial "tag-list" . }}

  {{ .Scratch.Set "tagtitle" "Platforms" }}
  {{ .Scratch.Set "taxonomy" .Site.Taxonomies.platforms }}
  {{ .Scratch.Set "stub" "platforms" }}
  {{ partial "tag-list" . }}

  {{ .Scratch.Set "tagtitle" "Tools" }}
  {{ .Scratch.Set "taxonomy" .Site.Taxonomies.tools }}
  {{ .Scratch.Set "stub" "tools" }}
  {{ partial "tag-list" . }}

  {{ .Scratch.Set "tagtitle" "Years" }}
  {{ .Scratch.Set "taxonomy" .Site.Taxonomies.year }}
  {{ .Scratch.Set "stub" "year" }}
  {{ partial "tag-list" . }}
</div>

<!-- List the full list of games -->
<div class="list">
{{ range .Pages.ByPublishDate.Reverse }}
  {{ partial "list-item.html" .}}
{{ end }}
</div>
</div>
{{ end }}
