{{ define "main" }}
<h1>404</h1>

<p>
I rebuilt my website in 2022 and there have been... consequences.
</p>

<p>
But you don't care about my obsessive website redesigns, you want answers. You want the truth! Here are some ideas:

<ul>
  <li>
    Check out the site navigation above and see if you can find what you're looking for. Games are in the <a href="/games">Games</a> section and all that.
  </li>
  <li>
    Use this custom search box to apply Google to the problem:&nbsp;<form class="site-search" method="get" action="https://www.google.com/search" target="_blank">
    <input type="text" name="q" maxlength="255">
    <input type="hidden" name="domains" value="https://pippinbarr.com">
    <input type="hidden" name="sitesearch" value="https://pippinbarr.com">
    <input type="submit" name="sa" VALUE="Search">
    </form>
  </li>
  <li>
    Get in touch with me by finding my contact information on the <a href="/about/me">About</a> page.
  </li>
  <li>
    Decide that it's <em>just not that important</em> and <a href="https://thi.cc">move on</a>.
  </li>
</ul>
</p>
<p>
  Yours faithfully,<br />
  Pippin
</p>
{{ end }}
