{{ define "main" }}
<span class="flipped-four-oh-four">404</span>

<p>
I rebuilt my website in 2022 and there have been... consequences.
</p>

<p>
But you don't care about my obsessive website redesigns, you want answers. You want the truth! Here are some ideas:

<ul>
  <li>
    A lot of people are looking for <strong>games</strong> like
      <a href="https://www.pippinbarr.com/itisasifyouweredoingwork/info/"><em>It is as if you were doing work</em></a>,
      <a href="https://www.pippinbarr.com/the-artist-is-present/info/"><em>The Artist Is Present</em></a>,
      <a href="https://www.pippinbarr.com/pongs/info/"><em>PONGS</em></a>,
      <a href="https://www.pippinbarr.com/lets-play-ancient-greek-punishment/info/"><em>Let's Play: Ancient Greek Punishment</em></a>. Is that you, too?
  </li>
  <li>
    I used to have a whole lot of <strong>blog posts</strong> on this site, but I don't anymore. Any writing relating to a specific game will be in that game's process materials and linked from its information page.
  </li>
  <li>
    Check out the <strong>site navigation</strong> above and see if you can find what you're looking for. Games are in the <a href="/games">Games</a> section and all that.
  </li>
  <li>
    Use this <strong>custom search box</strong> to apply Google to the problem:&nbsp;<form class="site-search" method="get" action="https://www.google.com/search" target="_blank">
    <input type="text" name="q" maxlength="255">
    <input type="hidden" name="domains" value="https://pippinbarr.com">
    <input type="hidden" name="sitesearch" value="https://pippinbarr.com">
    <input type="submit" name="sa" VALUE="Search">
    </form>
  </li>
  <li>
    Get in touch with me by finding my <strong>contact information</strong> on the <a href="/about/me">About</a> page.
  </li>
  <li>
    Decide that it's <strong>just not that important</strong> and <a href="https://thi.cc">move on</a>.
  </li>
</ul>
</p>
<p>
  Yours faithfully,<br />
  Pippin
</p>
{{ end }}
