{{ define "main" }}


<h4>Latest words</h4>

<div class="blog-list">
  {{ $latest_blog := first 1 .Site.Taxonomies.tags.words }}
  {{ range $latest_blog }}
  {{ partial "blog-list-item.html" .}}
  {{ end }}
</div>

<h4>Latest project</h4>

<div class="list">
  {{ $latest_project := first 1 .Site.Taxonomies.tags.project }}
  {{ range $latest_project }}
  {{ partial "list-item.html" .}}
  {{ end }}
</div>

<br />

<h4>In progress</h4>

<div class="list">
  {{ range .Site.Taxonomies.tags.inprogress }}
  {{ partial "list-item.html" .}}
  {{ end }}
</div>


{{ end }}